{% extends "paperless_ui/base.html" %}
{% block content %}
<div id="content" class="pmd-content">

    <!-- Buttons -->
	<div class="container-fluid">

		<!-- Title -->
		<h1 class="section-title" id="services">
			<span>Card</span>
		</h1><!-- End Title -->

		<!--breadcrum start-->
		<ol class="breadcrumb text-left">
		  <li><a href="">Paperless</a></li>
		  <li class="active">Documents</li>
		</ol><!--breadcrum end-->

		<!--component header -->
		<div class="componant-title-bg">
			<p class="lead">A card is a flexible and extensible content container. It includes options for header and footer, a wide variety of content, contextual background colors, and powerful display options.</p>
		</div> <!--component header end -->

		{% load staticfiles %}
		<link href="{% static 'paperless_uploader/css/dropzone.css' %}" type="text/css" rel="stylesheet"/>

		<!-- IMPORTANT enctype attribute! -->
		<form class="dropzone" id="myDropzone"
					action="{% url "paperless_uploader_home" %}"
					method="post" enctype="multipart/form-data">
			{% csrf_token %}
		</form>
		<button id="submit-all">
			Submit all files
		</button>

		<script src="{% static 'paperless_uploader/js/dropzone.js' %}"></script>
		<script type="text/javascript">
			Dropzone.options.myDropzone = {

				// Prevents Dropzone from uploading dropped files immediately
				autoProcessQueue : false,

				init : function() {
					var submitButton = document.querySelector("#submit-all")
					myDropzone = this;

					submitButton.addEventListener("click", function() {
						myDropzone.processQueue();
						// Tell Dropzone to process all queued files.
					});

					// You might want to show the submit button only when
					// files are dropped here:
					this.on("addedfile", function() {
						// Show submit button here and/or inform user to click it.
					});

				}
			};
		</script>

 	 		</div>

 	 	</div> <!--Buttons end-->

 	 </div>



 	 <!-- Floating Action Button like Google Material -->
 	 <div class="menu pmd-floating-action"  role="navigation">
 	 	<a href="/docs/upload/" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Cloud Upload">
 	 		<span class="pmd-floating-hidden">Cloud Upload</span>
 	 		<i class="material-icons">cloud_upload</i>
 	 	</a>

 	 	<a href="#" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Schedule">
 	 		<span class="pmd-floating-hidden">Schedule</span>
 	 		<i class="material-icons">schedule</i>
 	 	</a>

 	 	<a href="#" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Photo">
 	 		<span class="pmd-floating-hidden">Photo</span>
 	 		<i class="material-icons">photo_camera</i>
 	 	</a>





 	 	<a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" data-title="Add" href="javascript:void(0);">
 	 		<span class="pmd-floating-hidden">Primary</span>
 	 		<i class="material-icons pmd-sm">add</i>
 	 	</a>
 	 </div>



 	 {% endblock %}
